@font-face{
    font-family: 'Kristen ITC';
    font-style: normal;
    src: '../font/ITCKRIST.ttf'
}
.LoginForm{
    width: 50%;
}
form{
    padding-top: 3vh;
    text-align: center;
    margin-top: 12vh;
    margin-left: 4vw;
    margin-right: 8vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.05vw #707070 solid;
}
form>input{
    margin-top: 2vh;
    width: 27vw;
    height: 6vh;
    border: 0.05vw #707070 solid;
    border-radius: 0.2vw;
    padding-left: 2vw;
    font-size: 1.5vw;
}
::placeholder {
    font-size: 1.2vw;
}
.passwordField{
    margin-top: 4vh;
}
.loginBtn{
    font-family: sans-serif;
    font-size: 1.5vw;
    margin-top: 4vh;
    width: 29vw;
    height: 6.5vh;
    color: white;
    background-color: black;
    border: 0.05vw #707070 solid;
    border-radius: 0.2vw;
    cursor: pointer;
}
h2{
    font-family: 'Kristen ITC';
    font-size: 2vw;
    margin-bottom: 5vh;
}
.Forgot{
    color: #3B2894;
    font-size: 1.2vw;
    margin-top: 3vh;
    padding-bottom: 4.5vh;
}
.register{
    display: flex;
    justify-content: center;
    margin-left: 4vw;
    margin-right: 8vw;
    margin-top: 3vh;
}
.register>p{
    margin: 0;
    font-size: 1.2vw;
}
.googleLogin{
    color: #3B2894;
    padding-top: 1vh;
    padding-left: 1vw;
}
.register>img{
    width: 4vw;
    height: 6vh;
    border-radius: 50%;
}
.signUp{
    padding-left: 1vw;
    font-size: 1.1vw;
    color: #5D00FF;
    text-decoration: underline;
}

@media only screen and (max-width: 768px){
    .LoginForm{
        width: 100%;
    }
    form{
        padding-top: 2vh;
        text-align: center;
        margin-top: 10vh;
        margin-left: 4vw;
        margin-right: 4vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0.05vw #707070 solid;
    }
    form>input{
        margin-top: 0vh;
        width: 80%;
        height: 5vh;
        border: 1px #707070 solid;
        border-radius: 0.5vw;
        padding-left: 2vw;
        font-size: 2.5vw;
    }
    ::placeholder {
        font-size: 2.5vw;
    }
    h2{
        font-family: 'Kristen ITC';
        font-size: 4vw;
        margin-bottom: 5vh;
    }
    .loginBtn{
        font-family: sans-serif;
        font-size: 3vw;
        margin-top: 4vh;
        width: 40%;
        height: 6vh;
        color: white;
        background-color: black;
        border: 1px #707070 solid;
        border-radius: 0.2vw;
        cursor: pointer;
    }
    .Forgot{
        color: #3B2894;
        font-size: 2.5vw;
        margin-top: 3vh;
        padding-bottom: 4vh;
    }
    .register{
        display: flex;
        justify-content: center;
        margin-left: 4vw;
        margin-right: 8vw;
        margin-top: 3vh;
    }
    .register>p{
        margin: 0;
        font-size: 2.5vw;
    }
    .googleLogin{
        color: #3B2894;
        padding-top: 1vh;
        padding-left: 1vw;
    }
    .register>img{
        width: 7vw;
        height: 6vh;
        border-radius: 50%;
    }
    .signUp{
        padding-left: 1vw;
        font-size: 2.4vw;
        color: #5D00FF;
        text-decoration: underline;
    }
}