.People{
    display: flex;
    background-color: white;
    margin-left: 5vw;
    border: 1px #707070 solid;
    padding-right: 5vw;
    cursor: pointer;
}
.People:first-child{
    margin-top: 15vh;
    background-color: black;
    color: white;
}
.PeopleprofilePic>img{
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 50%;
    border: 1px #707070 solid;
    width: 4.5vw;
    height: 9vh;
    margin-left: 1vw;
}
.PeopleDesc > p{
    margin-left: 0.5vw;
}
.PeopleDesc > p:first-child{
    font-weight: bold;
    margin-top: 2.5vh;
    margin-bottom: 0;
}
.PeopleDesc > p:last-child{
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px){
    .People{
        margin-left: 0vw;
        padding-right: 3vw;
    }
    .People:first-child{
        margin-top: 12vh;
    }
    .PeopleprofilePic>img{
        margin-top: 1vh;
        margin-bottom: 1vh;
        border-radius: 50%;
        border: 1px #707070 solid;
        width: 5vw;
        height: 6vh;
        margin-left: 1vw;
    }
}