.about > video{
    margin-top: 15vh;
    margin-left: 20vw;
    margin-right: 20vw;
}

@media only screen and (max-width: 1024px){
    .about > video{
        margin-left: 8vw;
        margin-right: 8vw;
    }
}